<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="welcome-card">
      <ion-img src="/assets/bhilwarainfotechimages.png"></ion-img>
    </ion-card>
    <ion-card-content>
        <ion-card>
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Fortune Summit Business Park, No. 244, 1st Floor, 6th Sector, HSR Layout,, Silk Board Junction, Hosur
                Main Road, Bengaluru, Karnataka 560068</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
        
          </ion-card>
        <!--Content-->
        <ion-item>
            <ion-icon name="tablet-portrait"></ion-icon>
            <ion-label>9626859656</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-label>bhilwarainfotech.com</ion-label>
          </ion-item>
      </ion-card-content>
</ion-content>